:root {
  --backgroundColor: #d5dce0;
  --cardColor: #f7f7f7;
  --scrollThumbColor: #9099a281;
  --textColor: #121212;
  --themeButtonColor: #212121;
  --topTextColor: white;
}

:root[data-theme='light'] {
  --backgroundColor: #d5dce0;
  --cardColor: #f7f7f7;
  --scrollThumbColor: #9099a281;
  --textColor: #121212;
  --themeButtonColor: #212121;
  --topTextColor: white;
}

:root[data-theme='dark'] {
  --backgroundColor: #121212;
  --cardColor: #212121;
  --scrollThumbColor: #9099a281;
  --textColor: white;
  --themeButtonCollor: #f7f7f7;
  --topTextColor: white;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 0.75rem;
  width: 0.75rem;
  background-image: url('../images/times.svg');
  background-size: 0.75rem 0.75rem;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: 'Poppins', sans-serif;
  user-select: none;
  overflow-x: hidden;
}

main {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
  padding: 2rem;
}

input:focus {
  outline: none;
}

#sfMain {
  display: none;
}

.pokedex {
  display: flex;
  gap: 1.25rem;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: var(--backgroundColor);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollThumbColor);
  border-radius: 0.75rem;
}
