.pokemonList {
  max-width: 13rem;
}

.pokemonList .pokemon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  padding: 0.5rem 0.75rem;
  gap: 0.75rem;
  cursor: pointer;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: #00000059 0px 5px 15px;
  color: var(--topTextColor);
  transform: scale(1.1);
  transition: 0.25s ease-in-out;
}

.inactive {
  background-color: var(--cardColor);
  color: var(--textColor) !important;
  transform: scale(1) !important;
}

.pokemonList .pokemon:hover {
  color: var(--topTextColor) !important;
  transform: scale(1.1) !important;
}

.pokemonList .pokemon img {
  width: 3rem;
}

.pokemonList .pokemon span {
  padding-right: 1rem;
  text-transform: capitalize;
}
