* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

input {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}
