@media (max-width: 750px) {
  body {
    font-size: 12px;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .container-theme-toggle {
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: flex-end;
  }

  .theme-toggle {
    position: unset;
  }

  .pokedex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }

  .pokemonCard .cardImage {
    width: 200px;
    height: 200px;
  }

  .pokemonCard .infoCard {
    padding: 60px 30px 30px;
    margin-top: -50px;
  }

  .pokemonCard .infoCard h3 {
    font-size: 16px;
  }

  .pokemonList {
    max-width: 100%;
  }

  .pokemonList ul {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pokemonList .pokemon {
    width: 140px;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .pokemonList .pokemon span {
    padding-right: 5px;
  }
}
